body {
     background: #F5F5DC;
     color: black;
     width: 95%;
     max-width: 960px;
     margin: 0 auto;
}
 header {
     border: 3px solid black;
     width: 80%;
     background: #ff4d4d;
     color: black;
     font-weight: bold;
}
 footer {
     color: blue;
     font-weight: bold;
}
 div {
     border: 2px solid black;
     background: #E0FFFF;
     width: calc(45% - 2px);
     margin: 20px 2% 40px 2%;
     float: left;
}
 article {
     border: 2px solid black;
}
 div img {
     width: 100%;
     height: auto;
}
 article img {
     width: 100%;
     height: auto;
}
 h1, h3 {
     text-align: center 
}
 h2 {
     width: 90%;
     margin: 0 auto 
}
 table {
     border-collapse: collapse;
     width: 100%;
}
 td, th {
     border: 1px solid black;
     text-align: left;
     padding: 8px;
}
 tr {
     background-color: #E0FFFF;
}
 nav {
     text-align: center;
     clear: both;
}
 ul {
     list-style: none;
     margin: 0 auto;
     width: 50%;
     min-width: 400px;
}
 li {
     background: #E0FFFF;
     text-align: center;
     margin: 20px;
     padding: 20px;
}
 article {
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background: rgba(0, 0, 0, 0.2);
     z-index: 99999;
     opacity: 0;
     pointer-events: none;
     text-align: center;
}
 article:target {
     opacity: 1;
     pointer-events: auto;
}
 article > div {
     width: calc(90% - 40px);
     height: calc(100% - 40px);
     position: relative;
     margin: 0 auto;
     background: #ffffff;
     float: none;
     overflow-y: auto;
     padding: 20px;
}
 article p {
     text-align: left;
}
 article img {
     width: 100%;
     height: auto;
}
 .close {
     padding: 20px;
     background: red;
}
 
